{$CADDY_DOMAIN} {

  import tls_mode/Caddyfile.{$CADDY_TLS_MODE}

  root /srv/www/public
  log stdout
  errors stderr

  fastcgi / php-fpm:9000 php

  rewrite {
    to {path} {path}/ /index.php
  }
}
