# Exclude everything but what is strictly needed for building images.
*
!docker/**/docker-entrypoint.sh
!docker/php-fpm/conf.d/*.ini
!docker/php-fpm/php-fpm.d/*.conf

# Required for node apps installations.
!package.json
!package-lock.json
